@media (max-width: 768px) {
    .weather-card {
        width: 100%;
        padding: 10px;
    }

    .weather-card h1 {
        font-size: 1.5em;
    }

    .weather-card p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .weather-card {
        width: 100%;
        padding: 5px;
    }

    .weather-card h1 {
        font-size: 1.2em;
    }

    .weather-card p {
        font-size: 0.9em;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-image 0.5s ease-in-out;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    width: 200px;
    margin-right: 1rem;
}

#search-button {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-left: none;
    border-radius: 10px;
    background-color: #007bffca;
    color: white;
    cursor: pointer;
    outline: none;
}

#search-button:hover {
    background-color: #0057b3c9;
}

.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    min-height: 300px;
    justify-content: space-around;
}


.location-container {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

#country-flag img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.temperature-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

#weather-icon img {
    width: 60px;
    height: auto;
    margin-left: 10px;
}

.details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
}


.weather-card h1 {
    margin: 0;
    font-size: 2em;
}

.weather-card p {
    margin: 10px 0;
    font-size: 1.2em;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.background-1 {
    background-image: url('https://images.unsplash.com/photo-1736185597807-371cae1c7e4e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.background-2 {
    background-image: url('https://images.unsplash.com/photo-1737403428945-c584529b7b17?q=80&w=1979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.background-3{
    background-image: url('https://images.unsplash.com/photo-1585951301678-8fd6f3b32c7e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}